form{
    font-size: 20px;
    color: rgb(202, 76, 99);
}
body{
    background-color: skyblue;
}
button{
    font-size: 20px;
    color:whitesmoke;
    background-color:skyblue;
    border-radius: 20gitpx;
    width: 310px;
    background-color: rgb(202, 76, 99);
}
button:hover{
    cursor: pointer;
    background-color: rgb(202, 76, 99);
    width: 310px;
}
input{
    border-style:none;
    border-radius: 30px;
    width: 20rem;
    margin: 10px 0;
    background-color: whitesmoke;
    padding: 10px;
}
input:invalid{
    border:1px solid red;
}
 .form > fieldset{
    width: 7cm;
    height:1.5cm;
    font-size: small;
    text-align: start;
    border-style: none;
    border-radius: 10px;
}
#set>input{
    width: 25px;
    font-size: 60px;
}